<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h3>관심 받고 있는 언어 랭킹</h3>
    <table>
      <thead>
        <!-- 연도 -->
        <th v-for="item in header">
          {{item}}
        </th>
      </thead>
      <tbody>
        <!-- 언어별 순위 -->
        <tr v-for="line in ranking">
          <td v-for="item in line">
            {{item}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr>

  <div id="app2">
    <h3>목록을 구성하는 데이터 변경시 목록 업데이트</h3>
    <ul>
      <li v-for="item in myArray">
        <!-- 배열 값 -->
        {{item}}
      </li>
    </ul>
    <button @click="addList">맨 뒤에 추가</button>
    <button v-on:click="addObj(3)">네번째에 추가</button>
    <button v-on:click="changeObj(0)">첫번째에 변경</button>
    <button @click="deleteObj(1)">두번째를 삭제</button>
  </div>

  <hr>

  <div id="app3">
    <ul>
      <li v-for="item in myArray">
        <!-- 배열 데이터를 나열 -->
        {{item}}
      </li>
    </ul>
    <button @click="sortData(myArray)">정렬</button>
  </div>

  <script>
    new Vue({
      el : '#app3',
      data : {
        myArray : ['one', 'two', 'three', 'four', 'five']
      },
      methods : {
        sortData : function(dataList){
          dataList.sort(function(a,b){
            // 5, 10, 1, 5
            // 5 < 10 -> return -1
            //     ㄴ> 조건이 true일 경우 순서가 유지된다( 5, 10 )
            // 10 < 1 -> return 1
            //     ㄴ> 두개 비교했을 때 1이 반환되면 순서가 오름차순으로 바뀐다 ( 1, 10 )
            // -------------------------------------
            // 부등호를 반대로 바꾸면 내림차순 정렬이 됩니다

            // a < b return -1
            return ( a < b ? -1 : 1); //오름차순 정렬
            //내림차순정렬
            //return ( a > b ? -1 : 1);
          }
        )}
      }
    })
//-------------------------------------
    let data = ['첫번째', '두번째', '세번째', '네번째', '다섯번째'];

    new Vue({
      el:'#app2',
      data : {
        myArray : data,

      },
      methods : {
        addList : function(){
          //myArray 맨 뒤에 데이터를 추가할 때 쓰는 것
          //자바스크립트에 내용을 가져와서 사용
          this.myArray.push('[맨 뒤에 추가]');
        },
        addObj : function(index){
          this.myArray.splice(index, 0, ['추가']);
        },
        changeObj : function(index){
          this.myArray.splice(index, 1, ['변경']);
        },
        deleteObj : function(index){
          this.myArray.splice(index, 1);
        }
      }
    })

//-------------------------------------
    let headerData = ["프로그래밍언어", 2018, 2013, 2008, 2003, 1998];   //th
    let rankingData = [                                               //td
                        ['java', 1, 2, 1, 1, 16],
                        ['C', 2, 1, 2, 2, 1],
                        ['C+', 3, 4, 3, 3, 2],
                        ['Python', 4, 7, 6, 11, 23],
                        ['JavaScript', 7, 10, 8, 7, 20]
                      ];

    new Vue({
      el : '#app',
      data : {
        header : headerData,
        ranking : rankingData
      }
    })
  </script>
</body>
</html>